<!-- @format -->

<h1>Buttons</h1>

<button mantra-button color="primary">Button</button>
<button mantra-button color="secondary">Button</button>
<button mantra-button color="tertiary">Button</button>
<button mantra-button color="success">Button</button>
<button mantra-button color="warning">Button</button>
<button mantra-button color="danger">Button</button>

<h1>Cards</h1>

<mantra-card>
    <mantra-header-card inset>
        <h1>header</h1>
    </mantra-header-card>
    <mantra-content-card> content </mantra-content-card>
    <mantra-footer-card></mantra-footer-card>
</mantra-card>
