$primary: (
  100: #a8ddd5,
  200: #91d0d2,
  300: #79b5c7,
  400: #6297bb,
  500: #4c74af,
  600: #41529b,
  700: #383686,
  800: #3c2c71,
  900: #3c235b,
);

$secondary: (
  100: #a8a8dd,
  200: #9191d0,
  300: #7979b5,
  400: #626297,
  500: #4c4c74,
  600: #414152,
  700: #383836,
  800: #3c3c2c,
  900: #3c3c23,
);

$tertiary: (
  100: #dda8a8,
  200: #d09191,
  300: #b57979,
  400: #a66262,
  500: #8f4c4c,
  600: #7b4141,
  700: #663838,
  800: #513c2c,
  900: #3c3c23,
);

$warning: (
  100: #dddda8,
  200: #d0d091,
  300: #b5b579,
  400: #979762,
  500: #af4c4c,
  600: #9b4141,
  700: #863838,
  800: #713c2c,
  900: #5b3c23,
);

$danger: (
  100: #dda8a8,
  200: #d09191,
  300: #b57979,
  400: #a66262,
  500: #8f4c4c,
  600: #7b4141,
  700: #663838,
  800: #513c2c,
  900: #3c3c23,
);

$success: (
  100: #cddda8,
  200: #b3d291,
  300: #93c779,
  400: #6fbb62,
  500: #4caf50,
  600: #419b58,
  700: #36865b,
  800: #2c715b,
  900: #235b55,
);

@function getColorPalette($map, $key) {
  @if not map-has-key($map, $key) {
    @warn "Color `#{$key}` not found.";
  }
  @return map-get($map, $key);
}
